USE [SnapProject]
GO
/****** Object:  View [Food].[vw_OrderPayments]    Script Date: 7/8/2026 2:30:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Food].[vw_OrderPayments]
AS
SELECT
    p.PaymentID,
    c.FirstName + ' ' + c.LastName AS Customer,
    p.Amount,
    p.PaymentMethod,
    p.PaymentStatus,
    p.PaymentDate
FROM Food.FoodPayment p
JOIN Food.CustomerOrder o
    ON p.OrderID = o.OrderID
JOIN Food.Customer c
    ON o.CustomerID = c.CustomerID;

GO
