USE [SnapProject]
GO
/****** Object:  View [Food].[vw_OrderDetails]    Script Date: 7/8/2026 2:30:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Food].[vw_OrderDetails]
AS
SELECT
    o.OrderID,
    c.FirstName + ' ' + c.LastName AS Customer,
    r.Name AS Restaurant,
    f.FoodName,
    oi.Quantity,
    oi.UnitPrice,
    o.Status
FROM Food.CustomerOrder o
JOIN Food.Customer c
    ON o.CustomerID = c.CustomerID
JOIN Food.Restaurant r
    ON o.RestaurantID = r.RestaurantID
JOIN Food.OrderItem oi
    ON o.OrderID = oi.OrderID
JOIN Food.FoodItem f
    ON oi.FoodID = f.FoodID;

GO
