USE [SnapProject]
GO
/****** Object:  View [Ride].[vw_RideDetails]    Script Date: 7/8/2026 2:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Ride].[vw_RideDetails]
AS
SELECT
    rr.RequestID,
    p.FirstName + ' ' + p.LastName AS Passenger,
    d.FirstName + ' ' + d.LastName AS Driver,
    rr.Status,
    t.FinalFare,
    rp.PaymentStatus
FROM Ride.RideRequest rr
JOIN Ride.Passenger p
    ON rr.PassengerID = p.PassengerID
LEFT JOIN Ride.Driver d
    ON rr.DriverID = d.DriverID
LEFT JOIN Ride.Trip t
    ON rr.RequestID = t.RequestID
LEFT JOIN Ride.RidePayment rp
    ON t.TripID = rp.TripID;
GO
