USE [SnapProject]
GO
/****** Object:  View [Ride].[vw_DriverWallet]    Script Date: 7/8/2026 2:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Ride].[vw_DriverWallet]
AS
SELECT
    d.FirstName,
    d.LastName,
    wt.Amount,
    wt.TransactionType,
    wt.TransactionDate
FROM Ride.DriverWalletTransaction wt
JOIN Ride.Driver d
    ON wt.DriverID = d.DriverID;
GO
