USE [SnapProject]
GO
/****** Object:  View [Ride].[vw_DriverVehicles]    Script Date: 7/8/2026 2:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Ride].[vw_DriverVehicles]
AS
SELECT
    d.DriverID,
    d.FirstName,
    d.LastName,
    v.Brand,
    v.Model,
    v.PlateNumber,
    d.Rating
FROM Ride.Driver d
JOIN Ride.Vehicle v
    ON d.DriverID = v.DriverID;
GO
