USE [SnapProject]
GO
/****** Object:  Table [Food].[Restaurant]    Script Date: 7/8/2026 2:30:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Food].[Restaurant](
	[RestaurantID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[PhoneNumber] [varchar](11) NULL,
	[Address] [nvarchar](300) NULL,
	[Latitude] [decimal](9, 6) NULL,
	[Longitude] [decimal](9, 6) NULL,
	[WalletBalance] [decimal](10, 2) NULL,
	[IsOpen] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RestaurantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Food].[Restaurant] ADD  DEFAULT ((0)) FOR [WalletBalance]
GO
ALTER TABLE [Food].[Restaurant] ADD  DEFAULT ((1)) FOR [IsOpen]
GO
