USE [SnapProject]
GO
/****** Object:  Table [Food].[CustomerOrder]    Script Date: 7/8/2026 2:30:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Food].[CustomerOrder](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[RestaurantID] [int] NOT NULL,
	[OrderDate] [datetime] NULL,
	[Status] [nvarchar](30) NULL,
	[TotalPrice] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Food].[CustomerOrder] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [Food].[CustomerOrder] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [Food].[CustomerOrder]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [Food].[Customer] ([CustomerID])
GO
ALTER TABLE [Food].[CustomerOrder]  WITH CHECK ADD FOREIGN KEY([RestaurantID])
REFERENCES [Food].[Restaurant] ([RestaurantID])
GO
