USE [SnapProject]
GO
/****** Object:  Table [Food].[FoodItem]    Script Date: 7/8/2026 2:30:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Food].[FoodItem](
	[FoodID] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[FoodName] [nvarchar](100) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[IsAvailable] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[FoodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Food].[FoodItem] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [Food].[FoodItem]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [Food].[Category] ([CategoryID])
GO
ALTER TABLE [Food].[FoodItem]  WITH CHECK ADD FOREIGN KEY([RestaurantID])
REFERENCES [Food].[Restaurant] ([RestaurantID])
GO
