USE [SnapProject]
GO
/****** Object:  Table [Food].[RestaurantWalletTransaction]    Script Date: 7/8/2026 2:30:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Food].[RestaurantWalletTransaction](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[TransactionType] [nvarchar](20) NULL,
	[Description] [nvarchar](200) NULL,
	[TransactionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Food].[RestaurantWalletTransaction] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [Food].[RestaurantWalletTransaction]  WITH CHECK ADD FOREIGN KEY([RestaurantID])
REFERENCES [Food].[Restaurant] ([RestaurantID])
GO
