USE [SnapProject]
GO
/****** Object:  Table [Food].[FoodPayment]    Script Date: 7/8/2026 2:30:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Food].[FoodPayment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentMethod] [nvarchar](30) NOT NULL,
	[PaymentStatus] [nvarchar](20) NULL,
	[PaymentDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Food].[FoodPayment] ADD  DEFAULT ('Pending') FOR [PaymentStatus]
GO
ALTER TABLE [Food].[FoodPayment] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [Food].[FoodPayment]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [Food].[CustomerOrder] ([OrderID])
GO
