USE [SnapProject]
GO
/****** Object:  Table [Food].[Menu]    Script Date: 7/8/2026 2:30:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Food].[Menu](
	[MenuID] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantID] [int] NOT NULL,
	[MenuName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Food].[Menu]  WITH CHECK ADD FOREIGN KEY([RestaurantID])
REFERENCES [Food].[Restaurant] ([RestaurantID])
GO
