USE [SnapProject]
GO
/****** Object:  Table [Food].[OrderItem]    Script Date: 7/8/2026 2:30:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Food].[OrderItem](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[FoodID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Food].[OrderItem]  WITH CHECK ADD FOREIGN KEY([FoodID])
REFERENCES [Food].[FoodItem] ([FoodID])
GO
ALTER TABLE [Food].[OrderItem]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [Food].[CustomerOrder] ([OrderID])
GO
