USE [SnapProject]
GO
/****** Object:  View [Food].[vw_RestaurantMenu]    Script Date: 7/8/2026 2:30:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Food].[vw_RestaurantMenu]
AS
SELECT
    r.Name AS Restaurant,
    m.MenuName,
    f.FoodName,
    f.Price,
    f.IsAvailable
FROM Food.Menu m
JOIN Food.Restaurant r
    ON m.RestaurantID = r.RestaurantID
JOIN Food.MenuItem mi
    ON m.MenuID = mi.MenuID
JOIN Food.FoodItem f
    ON mi.FoodID = f.FoodID;

GO
