USE [SnapProject]
GO
/****** Object:  Table [Ride].[DriverLocation]    Script Date: 7/8/2026 2:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ride].[DriverLocation](
	[DriverID] [int] NOT NULL,
	[LocationID] [int] NOT NULL,
	[LastUpdate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ride].[DriverLocation] ADD  DEFAULT (getdate()) FOR [LastUpdate]
GO
ALTER TABLE [Ride].[DriverLocation]  WITH CHECK ADD FOREIGN KEY([DriverID])
REFERENCES [Ride].[Driver] ([DriverID])
GO
ALTER TABLE [Ride].[DriverLocation]  WITH CHECK ADD FOREIGN KEY([LocationID])
REFERENCES [Ride].[Location] ([LocationID])
GO
