USE [SnapProject]
GO
/****** Object:  Table [Ride].[DriverWalletTransaction]    Script Date: 7/8/2026 2:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ride].[DriverWalletTransaction](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[DriverID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NULL,
	[TransactionType] [nvarchar](20) NULL,
	[TransactionDate] [datetime] NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ride].[DriverWalletTransaction] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [Ride].[DriverWalletTransaction]  WITH CHECK ADD  CONSTRAINT [FK_DriverTransaction] FOREIGN KEY([DriverID])
REFERENCES [Ride].[Driver] ([DriverID])
GO
ALTER TABLE [Ride].[DriverWalletTransaction] CHECK CONSTRAINT [FK_DriverTransaction]
GO
