USE [SnapProject]
GO
/****** Object:  Table [Ride].[RidePayment]    Script Date: 7/8/2026 2:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ride].[RidePayment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[TripID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NULL,
	[PaymentMethod] [nvarchar](20) NULL,
	[PaymentStatus] [nvarchar](20) NULL,
	[PaymentTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ride].[RidePayment] ADD  DEFAULT (getdate()) FOR [PaymentTime]
GO
ALTER TABLE [Ride].[RidePayment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Trip] FOREIGN KEY([TripID])
REFERENCES [Ride].[Trip] ([TripID])
GO
ALTER TABLE [Ride].[RidePayment] CHECK CONSTRAINT [FK_Payment_Trip]
GO
