USE [SnapProject]
GO
/****** Object:  Table [Ride].[Driver]    Script Date: 7/8/2026 2:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ride].[Driver](
	[DriverID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[PhoneNumber] [varchar](11) NOT NULL,
	[NationalCode] [char](10) NULL,
	[LicenseNumber] [nvarchar](30) NOT NULL,
	[WalletBalance] [decimal](10, 2) NULL,
	[IsOnline] [bit] NULL,
	[IsAvailable] [bit] NULL,
	[Rating] [decimal](2, 1) NULL,
	[RegisterDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NationalCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ride].[Driver] ADD  DEFAULT ((0)) FOR [WalletBalance]
GO
ALTER TABLE [Ride].[Driver] ADD  DEFAULT ((0)) FOR [IsOnline]
GO
ALTER TABLE [Ride].[Driver] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [Ride].[Driver] ADD  DEFAULT ((5.0)) FOR [Rating]
GO
ALTER TABLE [Ride].[Driver] ADD  DEFAULT (getdate()) FOR [RegisterDate]
GO
