USE [SnapProject]
GO
/****** Object:  Table [Ride].[RideRequest]    Script Date: 7/8/2026 2:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ride].[RideRequest](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[PassengerID] [int] NOT NULL,
	[PickupLocationID] [int] NOT NULL,
	[DestinationLocationID] [int] NOT NULL,
	[DriverID] [int] NULL,
	[RequestTime] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
	[EstimatedFare] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ride].[RideRequest] ADD  DEFAULT (getdate()) FOR [RequestTime]
GO
ALTER TABLE [Ride].[RideRequest] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [Ride].[RideRequest]  WITH CHECK ADD  CONSTRAINT [FK_Request_Destination] FOREIGN KEY([DestinationLocationID])
REFERENCES [Ride].[Location] ([LocationID])
GO
ALTER TABLE [Ride].[RideRequest] CHECK CONSTRAINT [FK_Request_Destination]
GO
ALTER TABLE [Ride].[RideRequest]  WITH CHECK ADD  CONSTRAINT [FK_Request_Driver] FOREIGN KEY([DriverID])
REFERENCES [Ride].[Driver] ([DriverID])
GO
ALTER TABLE [Ride].[RideRequest] CHECK CONSTRAINT [FK_Request_Driver]
GO
ALTER TABLE [Ride].[RideRequest]  WITH CHECK ADD  CONSTRAINT [FK_Request_Passenger] FOREIGN KEY([PassengerID])
REFERENCES [Ride].[Passenger] ([PassengerID])
GO
ALTER TABLE [Ride].[RideRequest] CHECK CONSTRAINT [FK_Request_Passenger]
GO
ALTER TABLE [Ride].[RideRequest]  WITH CHECK ADD  CONSTRAINT [FK_Request_Pickup] FOREIGN KEY([PickupLocationID])
REFERENCES [Ride].[Location] ([LocationID])
GO
ALTER TABLE [Ride].[RideRequest] CHECK CONSTRAINT [FK_Request_Pickup]
GO
